---
---

@import "{{ site.theme }}";

p {
    font-family: "宋体", SimSun, STSong, sans-serif;
}

p code {
    font-family: "Jetbrains Mono", Consolas, "Space Mono", monospace;
}

h1 {
    display: none;
}

h1[id] {
    display: block;
    margin-top: 0;
    color: #03aed2;
}

div.footer {
    display: none;
}

@media print {
    body {
        zoom: 0.75;
    }
}